.tarjeta{
    width: 300px;
    height: 500px;
    position: relative;
}
.tarjeta img{
    height: 85%;
    object-fit: cover;
    width: 100%;
}

.tarjeta .bandera{
    right: -10px;
    top: 10px;
    opacity: 0;
    transition: 1s;
    position: absolute;

}

.tarjeta:hover .bandera{
    opacity: 1;
}

.tarjeta .bandera_inicio {
    width: 160px;
    height: 0px;
    border-top: 18px solid #13b955;
    border-right: 20px solid #13b955;
    border-left: 20px solid transparent;
    border-bottom: 18px solid #13b955;
}

.tarjeta .bandera_punta{
    width: 0px;
    height: 0px;
    border-top: 18px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid #13b955;
    border-bottom: 18px solid transparent;    
}

.tarjeta .titulo{
    text-decoration: none !important;
}